.row#home
  .col-md-3
    = render partial: "profile"
  .col-md-9
    .panel.panel-default
      / Default panel contents
      .panel-heading
        = t('projects')
        %ul.nav.nav-tabs.nav-tabs-xs
          %li
            %a{href: stars_path(params[:username])}
              %span.btn-label.icon.octicon.octicon-star
              Stars
      / List group
      %ul.list-group
        - @projects.each do |project|
          %li.list-group-item
            = link_to(project.name, project_path(@current_page_user.username, project.name))