.row#project
  .col-md-12.css_link
    .input-group
      %span.input-group-addon CSS
      %input.form-control#css_link{placeholder: "CSS", type: "text", value: project_css_path(@project)}
  .row
    .col-md-12
      .hide
        = text_area_tag :stylesheet, @project.stylesheet, id: 'css_code'
      - if current_user_access?
        .col-md-10
          = render partial: 'complete_css'
        .col-md-2
          = render partial: 'option'
      - else
        .col-md-12
          = render partial: 'complete_css'