= form_for(@project, url: project_editor_path) do |f|
  %p
    = f.text_area :stylesheet, class: 'form-control', placeholder: t('project.stylesheet')
  .row
    .col-md-6.pull-right
      .pull-right
        = link_to t('helper.back'), project_path(params[:username], params[:project_name]), class: 'btn btn-default btn-flat'
        = f.submit t('helper.save'), class: 'btn btn-success btn-flat'