/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require codemirror
 *= require codemirror/themes/monokai
 *= require codemirror/addons/fold/foldgutter
 *= require codemirror/addons/lint/lint

 *= require PixelAdmin/bootstrap.min
 *= require PixelAdmin/pixel-admin.min
 *= require PixelAdmin/widgets.min
 *= require PixelAdmin/rtl.min
 *= require PixelAdmin/themes.min

 *= require octicons
 */

// @import "bootstrap"
@import "font-awesome"

#main-navbar
  .octicon-plus
    margin: 1px

#project-nav
  .row
    padding-left: 56px
    padding-right: 26px

    h3
      margin: 0

article
  padding-left: 56px
  padding-right: 26px

  #home
    .profile-block
      margin-bottom: 18px
      .panel.profile-photo
        padding: 6px
        display: inline-block
        margin-bottom: 10px

      .profile-full-name
        h3
          margin-top: 0
    .panel.panel-transparent
      .list-group-item
        background: none!important

  #project
    .panel-body
      margin: 0
      padding: 0
    .css_link
      padding-top: 10px
      padding-bottom: 20px

    .complete
      border-top: 1px solid #f00