%section.footer
  .container
    .pull-left
      © 2014 Redesign

    .pull-right
      jiunjiun /
      quietmes@gmail.com

    %span.logo
      = image_tag("icon/icon_b_32.png", alt: "Redesign", class: "logo")
